/* Typography styling */

#title-avenir {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
}

#divider {
	display: inline;
	font-size: 24px;
	color: #FFFFFF;
	margin: 0px 8px;
}

#title-adobe {
	font-family: "Adobe Caslon Pro", "Helvetica", "Arial", sans-serif;
	color: #7BBED1;
}

.mdl-layout h1 {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0px;
	color: #002443;
}

.mdl-layout h2 {
	font-family: "Adobe Caslon Pro", "Helvetica", "Arial", sans-serif;
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0;
	line-height: 28px;
	color: #FFFFFF;
}

.mdl-layout h3 {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	margin: 0px;
	letter-spacing: 0.01em;
	line-height: 28px;
	color: #000000;
	opacity: 0.54;
}

a.mdl-navigation__link {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	margin: 0px;
	letter-spacing: 0.01em;
	line-height: 28px;
	color: #FFFFFF;
	opacity: 1.0;
}

.mdl-layout p {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	margin: 0px;
	letter-spacing: 0.01em;
	line-height: 24px;
	color: #000000;
	opacity: 0.87;
}

.mdl-layout .mdl-button {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	color: #FFFFFF;
	background-color: #006784;
}

.footer-font {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
}

#footer-divider {
	position: relative;
	top: 2px;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0px 4px;
}

.mdl-mini-footer__link-list li a {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	margin: 0px;
	letter-spacing: 0.01em;
	line-height: 24px;
	color: #FFFFFF;
}

/*  Navigation bar styling */

#nav-bar-color {
    background-color: #002443;
}

header.mdl-layout__header.is-casting-shadow {
	background-color: #002443;
}

/* Displays acitve link in menu for large screens */

.active-link {
	border-bottom: 4px solid #7BBED1;
	height: 60px;
}

/* Displays active link in menu for small screens */

#active-drawer-link {
		color: #006784;
	}

/* Portfolio section styling */

div {
	box-sizing: border-box; /*use border-box so that whatever "width" value is used will be maintained*/
}

.portfolio-max-width {
	max-width: 920px;
	width: 100%;
	margin: auto;
}

.portfolio-background-color {
	background-color: #F8F8F9;
}

.hero-cell {
	position: relative;
	height: 290px;
	margin: 0px 16px 16px 16px;
	background-image: url('images/hero-background@2x.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-background-image {
	position: relative;
	height: 100%;
	max-height: 280px;
	width: 100%;
}

.hero-avatar-cell {
	position: absolute;
	bottom: 16px;
	left: 110px;
	height: 124px;
	width: 124px;
	border-radius: 50%;
	z-index: 3;
}

.hero-avatar-image {
	height: 100%;
	width: 100%;
}

.hero-text {
	position: absolute;
	bottom: 0px;
	color: #FFFFFF;
	width: 100%;
	max-width: 920px;
	padding: 16px 0% 16px 260px;
	z-index: 2;
}

.hero-text-banner {
	position: absolute;
	height: 92px;
	bottom: 0px;
	background-color: #282c35;
	opacity: 0.85;
	width: 100%;
	max-width: 920px;
	padding: 16px 0% 16px 260px;
	z-index: 1;
}

.hero-text h2 {
	color: #7BBED1;
	line-height: 32px;
	opacity: 1.0;
}

.hero-text h3 {
	color: #FFFFFF;
	opacity: 1.0;
}

/* Projects section styling */

.mdl-cell.projects-header {
	margin-top: 0;
	margin-bottom: 0;
}

.mdl-cell h1 {
	margin: 0;
}

.projects-section .mdl-card {
	margin-bottom: 24px;
}

h2.mdl-card__title-text {
    z-index: 2;
}

.card-banner {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.30;
	width: 100%;
	height: 60px;
	max-width: 920px;
	z-index: 1;
}

.mdl-card__title {
	position: relative; /* position made relative to allow card-banner to align properly */
}

.wander-card {
	height: 500px;
	background: url('images/wander-card@2x.png');
	background-color: #006784;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}

.ha-walk-card {
	height: 500px;
	background: url('images/hawalk-mockup@2x.png');
	background-color: #006784;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.kollect-card {
	height: 500px;
	background: url('images/kollect-mockup@2x.png');
	background-color: #006784;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

/* Footer Styling */

footer.mdl-mini-footer {
	height: 56px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 46px;
	background-color: #002443;
}

/* Resume styling */

.resume-pdf {
	width: 100%;
	height: 100%;
}

.mdl-button.centered-button {
	display: block;
	width: 150px;
	margin: 8px auto;
}

/* Process page styling starts here */

.design-process {
	height: 1200px;
}

/* About page styling starts here */

.about-hero-image {
	width: 100%;
}

/* Media queries to adjust to different screen sizes */

@media screen and (max-width: 840px) {

	.hero-text-banner {
		height: 120px;
	}
}

@media screen and (max-width: 720px) {

	.hero-background-image {
		max-height: 180px;
	}

	.hero-avatar-cell {
		position: relative;
		top: 76px;
		left: 0px; /* use left 0px to keep avatar centered since position is relative */
		margin: auto;
	}

	.hero-text {
		padding: 16px;
	}

	.hero-text-banner {
		height: 100%;
	}
}

@media screen and (max-width: 620px) { /* breakpoint for avatar image */

	.hero-avatar-cell {
		position: relative;
		top: 50px;
		left: 0px; /* use left 0px to keep avatar centered since position is relative */
		margin: auto;
	}
}

@media screen and (max-width: 520px) { /* breakpoint for avatar image */

	.hero-avatar-cell {
		position: relative;
		top: 16px;
		left: 0px; /* use left 0px to keep avatar centered since position is relative */
		margin: auto;
	}
}

@media screen and (max-width: 580px) {

	.mdl-mini-footer__link-list li a {
		color: #002443;
	}
}

@media screen and (min-width: 480px) {

	#hide-at-large-screens {
		display: none;
	}
}

@media screen and (max-width: 480px) {

	#divider {
		margin: 0;
	}

	#title-avenir, #title-adobe {
		letter-spacing: 0;
	}

	#hide-at-small-screens {
		display: none;
	}

	#wander-card-smaller-screen {
	height: 328px;
	background: url('images/wander-small-screen@2x.png');
	background-color: #006784;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}

	.ha-walk-card {
		height: 328px;
		background-size: cover;
	}
	.kollect-card {
		height: 328px;
		background-size: cover;
	}
}






