.hero-layout-transparent {
  background: url('assets/intro.png') center / cover;
  
}
.hero-layout-transparent .mdl-layout__header,
.hero-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

#nav-bar-color {
    background-color: #002443;
}




